{%extends 'base.html'%}
{% block title %}
    Login
{% endblock %}
{% block content %}
    <h2 class="wellcome">Wellcome to this Site!</h2>
    <img src="/static/class.jpg" alt="well">
    <h2>List of people who are members of the site:</h2>
    <div class="userha">
        {% for user in userha %}
            <div class="userha">
            <ui>
                <li>
                <a href="{% url 'Login:profile' id=user.id %}">{{ user.name }} {{ user.lastname }}</a>
                </li>
            </ui>
            </div>
        {% endfor %}
     </div>
{%endblock%}