{%extends 'base.html'%}
{% block title %}
    profile
{% endblock %}
{% block content %}

{#        <img src="{{ Login.image.url }}" alt="">#}
        <p class="info"> More Information about: </p>
        <h2 class="name"> {{ profile.name }} {{ profile.lastname }} </h2>
        <div class="profile">
        <p>Phone Number :  {{ profile.phonenumber }}</p>
        <p>Address  :  {{ profile.address }}</p>
        {%  if profile.gender == 0 %}
            <p>Gender: Male</p>
        {% endif %}
        {% if profile.gender == 1 %}
              <p>Gender: Female</p>
        {% endif %}
    </div>
{#    <h2><a href="{% url 'Login:edit' %}">Edit</a></h2>#}

    <p class="edit" > Edit</p>
    <form class="site-form" action="/Login/profile" method="POST">
        {{ form }}
        {% csrf_token %}
        <input type="submit" name="" value="Edit">
    </form>

{%endblock%}

{##}
{#    <div class="create_signup">#}
{#    <h1>#}
{#        Signup#}
{#    </h1>#}
{#        <form class="site-form" action="/Login/signup" method="POST">#}
{#            {{ form }}#}
{#            {% csrf_token %}#}
{#            <input type="submit" name="" value="Signup">#}
{#        </form>#}
{#    </div>#}