{%extends 'base.html'%}
{% block title %}
    profile
{% endblock %}
{% block content %}
    <div class="profile">
{#        <img src="{{ Login.image.url }}" alt="">#}
        <h1>{{ profile.name }} {{ profile.lastname }}</h1>
        <p>Phone Number :  {{ profile.phonenumber }}</p>
        <p>Address  :  {{ profile.address }}</p>
        {%  if profile.gender == 0 %}
            <p>Gender: Male</p>
        {% endif %}
        {% if profile.gender == 1 %}
              <p>Gender: Female</p>
        {% endif %}
    </div>
{%endblock%}