body{
    background-color: #0f121f;
    background-image: url("background.jpg");
    background-repeat-y: no-repeat;
    background-attachment: fixed;
    color: #680404;
}
body * {
    font-family: Arial, serif;
}

h1,h2,h3,h4,h5 {
    font-weight: normal;
    margin: 0;
    text-align: center;
}

a,a:hover,a:visited{
    color: #a3135f;
    text-decoration: none;
}
.wrapper{
    max-width: 960px;
    margin: 0 auto;
}

div.wrapper h1{
    text-align: center;
    margin: 100px auto;
    font-size: 2.4em;
}
header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 0;
    text-align: center;
}

header h2{
    margin-top:11px
}

nav li{
    display: inline-block;
    margin-left: 20px;
    font-size: 22px;
}
nav button{
    background: none;
    color: #fff;
    cursor: pointer;
    border: 0;
    font-size: 1em;
}

.articles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}
.article{
    padding: 10px;
    border: 1px solid #00dba0;
    position: relative;
    padding-bottom: 40px;
}
article.h2{
    font-size: 1.2em;
}
.article .author{
    padding: 10px;
    background-color: #00dba0;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    color: #0f121f;
}
.Login_detail .Login{
    padding: 0;
}
.Login_detail .Login h2{
    text-align: center;
    font-size: 2em;

}
.Login_detail .Login p{
    text-align: center;
}
.site-form{
    border: 1.5px solid #ad3131;
    padding: 20px;
}

.site-form input, .site-form textarea{
    display: block;
    margin: 10px 0 15px 0;
    padding: 10px;
}
a.highlight{
    border: 1px solid #00dba0;
    padding: 10px;
    border-radius: 4px;
    color: #00dba0;
}
.helptext, .helptext ul{
    margin: 0 auto 20px;
    color: #bbb;
    font-size:0.9em;
    display: block;
}
.errorlist li{
    padding: 10px;
    list-style-type: none;
    border: 1px solid #ff5722;
    color: #ff5722;
    margin: 10px 0;
}
.errorlist{
    padding: 0;
}
.site-form input[type="submit"]{
    border-color: red;
    color: #fff;
    font-size: 1.2em;
    background-color: #ff5722;
    border-radius: 4px;
    margin: 10px 0;
}
img{
    border-radius: 4px;
    padding-bottom: 3em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.userha li{
    font-size:20px;
    padding-bottom:0.9em;
}
.name{
    font-size: 35px;
    margin-top:0;
    padding-bottom:10px;
    font-weight: bold;
}
.profile{
    border:1.5px solid #ad3131;
    margin-bottom: 40px;

}
.profile p{
    margin-left: 20px;
    font-size: 17px;
    text-align: center
}
.edit{
    padding-top: 40px;
    font-size: 35px;
    text-align: center;
}
.wellcome {
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.info{
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align:center;
}
a.edit-link {
    font-size: 30px;
    padding:9px 9px 9px 9px;
    border:1.5px solid #ad3131;
    border-radius:5px;
    color: #fff;
    background-color: #ff5722;
    margin: 10px 0;
}